* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    height: 600vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding-left: 20px;
    z-index: 100000;
    background-color: #fff;
}

header .title {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header li {
    position: relative;
    list-style: none;
}

header li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    color: #000;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header.sticky .title {
    color: #000;
}

header.sticky ul li a {
    color: #000;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    color: #000;
}

.home-section {
    text-align: center;
}

.about-section {
    text-align: center;
}

.portfolio-section {
    text-align: center;
}

.investment-section {
    text-align: center;
}

.testimonial-section {
    text-align: center;
}

#about-button {
    padding: 10px;
}

#portfolio-button {
    padding: 10px;
}

#investment-button {
    padding: 10px;
}

#contact-button {
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    color: #000;
}

.contact-section {
    text-align: center;
}