@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&family=Tiro+Kannada:ital@1&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Tiro Gurmukhi', serif;
    letter-spacing: 2px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 105px;
    padding-right: 105px;
}

header .title {
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 32px;
}

.nav {
    background-color: #3f433d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.nav-link:hover {
    color: rgb(30, 30, 30);
}

.nav-toggle {
    padding: .5em 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background-color: rgb(220, 220, 220);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
    background-color: rgb(220, 220, 220);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: rgb(72, 72, 72);
    width: 2em;
    height: 3.5px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
}

.hamburger::after {
    bottom: 8px;
}

main {
    flex: 7;
    padding-left: 100px;
    padding-right: 100px;
}

.home {
    height: 100%;
    background-color: #3f433d;
    background-image: url(./images/DSC07960.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgb(158, 158, 158);
}

.home-text {
    line-height: 50px;
    font-size: 20px;
    color: rgb(220, 220, 220);
}

.about {
    height: 100%;
    background-color: #3f433d;
    background-image: url(./images/DSC03239.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgb(158, 158, 158);
}

.about-text h2 {
    padding-bottom: 25px;
}

.about-text {
    line-height: 50px;
    font-size: 20px;
    color: rgb(220, 220, 220);
    width: 50ch;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100vw;
    height: 80vh;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    list-style: none;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide > img {
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color:rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.investment-page-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.investment {
    height: 100%;
    background-color: #3f433d;
    background-image: url(./images/DSC03584.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    font-size: 16px;
    color: rgb(220, 220, 220);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgb(158, 158, 158);
}

form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
}

form input,
form p,
form textarea,
form select,
form label,
form button {
    margin-top: 10px;
}

form input {
    border: none;
    border-radius: 2px;
    text-indent: 5px;
    background-color: rgb(220, 220, 220);
}

form input:hover,
form input:focus {
    background-color: white;
}

form input[type=radio] {
    appearance: none;
    width: 15px;
	height: 15px;
	border: 2px solid #3f433d;
	border-radius: 50%;
	background-clip: content-box;
	padding: 2px;
    background-color: rgb(220, 220, 220);
}

form input[type=radio]:hover {
    background-color: black;
    cursor: pointer;
}

form input[type=radio]:checked {
    background-color: black;
    border: 2px solid rgb(220, 220, 220);
}

form input[type='text'],
form input[type='email'] {
    width: 100%;
    height: 30px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 2px;
    background-color: rgb(220, 220, 220);
}

form textarea:hover,
form textarea:focus {
    background-color: white;
}

form select {
    padding-top: 2px;
    width: 200px;
    font-family: 'Tiro Gurmukhi', serif;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}

form select:hover,
form select:focus {
    background-color: white;
}

#submit-button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(220, 220, 220);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, rgb(220, 220, 220), #3f433d);
    font-family: 'Tiro Gurmukhi', serif;
}

#submit-button:hover {
    background-image: linear-gradient(to bottom right, rgb(118, 118, 118), rgb(145, 145, 145));
    cursor: pointer;
}

.investment-page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.testimonials {
    height: 100%;
    background-color: #3f433d;
    background-image: url(./images/DSC07981.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgb(158, 158, 158);
}

.testimonials-text {
    font-family: 'Tiro Gurmukhi', serif;
    font-family: 'Tiro Kannada', serif;
    line-height: 50px;
    font-size: 20px;
    color: rgb(220, 220, 220);
    width: 50ch;
}

.contact {
    height: 100%;
    background-color: #3f433d;
    background-image: url(./images/DSC04703.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px rgb(158, 158, 158);
}

.contact-text {
    line-height: 50px;
    font-size: 20px;
    color: rgb(220, 220, 220);
}

#contact-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(220, 220, 220);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, rgb(220, 220, 220), #3f433d);
    font-family: 'Tiro Gurmukhi', serif;
}

#contact-button:hover {
    background-image: linear-gradient(to bottom right, rgb(118, 118, 118), rgb(145, 145, 145));
    cursor: pointer;
}

.copyright-symbol {
    font-size: 14px;
}

.contact-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: #3f433d;
    width: 500px;
    max-width: 60%;
}

.contact-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.contact-modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.contact-modal-header .contact-modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.contact-modal-header .close-modal-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(220, 220, 220);
}

.contact-modal-body {
    padding: 10px 15px;
}

#contact-submit-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(220, 220, 220);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, rgb(220, 220, 220), #3f433d);
    font-family: 'Tiro Gurmukhi', serif;
}

#contact-submit-button:hover {
    background-image: linear-gradient(to bottom right, rgb(118, 118, 118), rgb(145, 145, 145));
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.socials {
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer li a {
    margin: 30px;
    color: rgb(72, 72, 72);
    font-size: 20px;
}

footer li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
    header {
        padding: 0 0 0 15px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        flex: 1;
    }

    header .title {
        font-size: 25px;
    }
    
    main {
        padding: 10px;
        flex: 10;
    }

    .home-text {
        font-size: 18px;
    }
    
    .about-text {
        font-size: 16px;
    }

    .investment {
        font-size: 14px;
    }

    .testimonials-text {
        font-size: 12px;
    }

    .contact-text {
        font-size: 16px;
    }
}
